<!DOCTYPE html>
<html lang="pt">
  <head>
    <meta charset="utf-8">
    <title>Projeto NetShoes</title>
    <meta name="description" content="Projeto NetShoes">
    <meta name="author" content="Edson Luiz Fragnan">
    <link rel="stylesheet" href="bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="stylesheets/style.css" type="text/css" />
  </head>

  <body>
    <div class="container">
      <br>
      <div>
        <% for(var i=0; i<produtos.length; i++) {%>
          <div class="col-xs-6 col-lg-4 esqueletoProduto">
              <div class="imagem"></div>
              <p><%- produtos[i].produto %></p>
              <p><%- produtos[i].moeda %></p>
              <p><%- produtos[i].preco %></p>
              <button type="button" class="btn btn-primary">Comprar</button>
          </div>
        <% } %>
      </div>
    </div>
  </body>
</html>
