span.glyphicon-shopping-cart {
  font-size: 1.2em;
}

.esqueletoProduto {
  margin-bottom: 5px;
  width: 200px;
}

.cifrao {
  position: absolute;
  margin-left: -30px;
}

#vazio {
  margin-left: -15px;
}

#cifrao3 {
  font-weight: bold;
  margin-top: 5px;
  font-size: 25px;
  float: left;
  margin-bottom: 15px;
  margin-left: 15px;
}

#carrinhoCompras {
  padding-top: 10px;
  cursor: pointer;
  padding-bottom: 70px;
}

#carrinho {
  background: red;
  font-size: 18px;
  width: 28px;
  height: 28px;
  text-align: center;
  position: absolute;
  border-radius: 100%;
  color: #FFF;
  margin-top: 21px;
  left: 50%;
  margin-left: -6px;
}

.imgCarrinho {
  width: 80px;
  height: 80px;
	position:absolute;
	left:50%;
	margin-left:-40px;
  z-index: -1;

}

.descProduto {
  text-align: center;
  margin-bottom: 0px;
}
.precProduto {
  text-align: center;
  margin-bottom: 0px;
}

.tamanho {
  text-align: center;
  margin-bottom: 0px;
}

.tamanhoProduto {
  text-align: center;
  margin-bottom: 0px;
}

.valProduto {
  font-size: 20px;
  margin-bottom: 0px;
}

.parcelas {
  color: #CCC;
  font-size: 13px;
  text-align: center;
  margin-bottom: 0px;
}

.btnComprar {
  margin-bottom: 10px;
  background: #000;
  color: #FFF;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
  text-align: center;
}

.modal-content {
  background-color: #000;
  margin: auto;
  padding: 20px;
  border: 1px solid #000;
  width: 40%;
  color: #FFF;
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.thumb2 {
  width: 100%;
}

.btn2 {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  background: #FFF;
  color: #000;
}

#btnFecharCompra {
  margin-top: 20px;
  width: 92%;
  color: #FFF;
  margin-left: 14px;
  font-weight: bold;
}

.spanId {
  color: #FFF;
}

.sku {
  color: #FFF;
}

.precProdutoCarrinho {
  margin-left: 25px;
  margin-bottom: 0px;
}

#total {
  font-weight: bold;
  margin-top: 5px;
  font-size: 25px;
  float: left;
  margin-bottom: 15px;
  margin-left: 5px;
}
